@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

.main-container {
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
	min-width: 795px;
	max-width: 795px;
}

nav {
    background: #333;
    padding: 1rem;
  }
  
nav a {
    color: white;
    margin-right: 1rem;
    text-decoration: none;
  }
  
nav a:hover {
    text-decoration: underline;
  }
  
form {
    margin: 2rem;
  }
  
form div {
    margin-bottom: 1rem;
  }
  
form label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
form input {
    width: 100%;
    padding: 0.5rem;
  }
  
ul {
    list-style: none;
    padding: 0;
  }
  
li {
    border: 1px solid #ccc;
    margin: 1rem 0;
    padding: 1rem;
  }